<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>work_regist_login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registLogin</display-name>
    <servlet-name>registLogin</servlet-name>
    <servlet-class>servlet.registLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registLogin</servlet-name>
    <url-pattern>/registLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registServlet</display-name>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>servlet.registServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PriviledgeFilter</display-name>
    <filter-name>PriviledgeFilter</filter-name>
    <filter-class>filter.PriviledgeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PriviledgeFilter</filter-name>
    <url-pattern>/fail.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PriviledgeFilter</filter-name>
    <url-pattern>/success.jsp</url-pattern>
  </filter-mapping>
</web-app>